@import '../../styles/vars.scss';
@import '../../styles/utils.scss';

.Modal {
  position: fixed;
  z-index: 1;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Modal--overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(black, 0.3);
}

.Modal--body {
  padding: 20px;
  margin-top: 80px;
  min-height: 400px;
  background: $bg;
  border: 1px solid rgba(white, 0.1);
  box-shadow: rgba(black, 0.5) 0 0 15px;
  width: 600px;
  position: relative;
  z-index: 1;
}

.ModalFooter {
  @extend .d-f;
  @extend .jc-fs;
  @extend .flow-h-5;
  flex-direction: row-reverse;
  background: rgba(black, 0.1);
  margin: 20px -20px -20px -20px;
  padding: 20px;
}

.Modal--label {
  position: absolute;
  bottom: 100%;
  left: -1px;
  border-top-right-radius: 3px;
  margin-bottom: -1px;
  text-transform: uppercase;
  border: 1px solid rgba(white, 0.1);
  border-bottom-color: $bg;
  padding: 6px 8px;
  background: $bg;
  color: rgba(white, 0.4);
  font-size: 11px;
  z-index: -1;
}
