@import '../../styles/vars.scss';
@import '../../styles/utils.scss';

.Modal {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  &.withUI > .Modal-box > .Modal--body {
    margin: 100px 0;
    border: 2px solid rgba(white, 0.07);
    width: 600px;
    padding: 20px;
  }
}

.Modal--overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, 0.3);
}

.Modal-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Modal--body {
  &:focus {
    outline: none;
  }
  background: $bg;
  box-shadow: rgba(black, 0.2) 0 15px 100px;
  position: relative;
  z-index: 1;
}

.ModalFooter {
  @extend .d-f;
  @extend .jc-fs;
  flex-direction: row-reverse;
  background: rgba(black, 0.1);
  margin: 20px -20px -20px -20px;
  padding: 20px;
  > * + * {
    margin-right: 5px;
  }
}

.Modal--label {
  position: absolute;
  bottom: 100%;
  left: 0;
  border-left: 2px solid rgba(white, 0.07);
  border-top: 2px solid rgba(white, 0.07);
  border-right: 2px solid rgba(white, 0.07);
  margin-left: -2px;
  border-top-right-radius: 3px;
  text-transform: uppercase;
  border-bottom-color: $bg;
  padding: 6px 8px;
  background: $bg;
  color: rgba(white, 0.4);
  font-size: 11px;
  z-index: -1;
}
