@import '../../styles/vars.scss';

.Modal {
  position: fixed;
  z-index: 1;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Modal--overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.Modal--body {
  padding: 20px;
  margin-top: 80px;
  min-height: 400px;
  background: $bg;
  border: 1px solid rgba(white, 0.1);
  box-shadow: rgba(black, 0.5) 0 0 15px;
  width: 600px;
}
