@import '../../styles/vars.scss';

.FileTabs {
  display: flex;
  border-bottom: 1px solid rgba(white, 0.07);
  margin-left: -1px;
}

.FileTab {
  height: 40px;
  width: 200px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  outline: none !important;
  position: relative;
  border: 1px solid transparent;
  font-size: 13px;

  .FileTab--close-icon {
    opacity: 0;
    pointer-events: none;
  }

  &:focus {
    color: white;
  }

  &:hover {
    background: rgba(white, 0.03);

    .FileTab--close-icon {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &:active {
    color: white;
  }

  &.isActive {
    background: linear-gradient(0deg, rgba(white, 0.05), rgba(white, 0.1));
    border-color: rgba(black, 0.2);
    box-shadow: inset $blue 3px 0;
    color: white;
  }
}

.FileTab--close-icon {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px; right: 0; bottom: 2px;
  &:hover {
    color: white;
  }
}
