@import '../../styles/vars.scss';

.FileTabs {
  flex-shrink: 0;
  display: flex;
  background: $bg-even-darker;
}

.FileTab {
  height: 40px;
  width: 200px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  outline: none !important;
  position: relative;
  font-size: 13px;

  .FileTab--close-icon {
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    background: rgba($bg-darker, 0.5);

    .FileTab--close-icon {
      opacity: 0.5;
      pointer-events: auto;
      &:active {
        opacity: 1;
      }
    }
  }

  &.isActive {
    // background: linear-gradient(0deg, rgba(white, 0.05), rgba(white, 0.1));
    background: $bg-darker;
    box-shadow: inset $blue 0 3px;
    color: white;
  }
}

.FileTab--close-icon {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px; right: 0; bottom: 2px;
  outline: none !important;
  &:hover {
    color: white;
  }
}
