#editor {
  font-size: 18px;
  width: 100% !important;
  flex-grow: 1 !important;
}

#preview {
  flex-grow: 1;
}

.Editor {
  display: flex;
  flex-grow: 1;
}

.Editor-panel {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;

  .Editor-wrapper {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
  }
}

.Editor-preview {
  width: 650px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.ace_folding-enabled > .ace_gutter-cell {
  color: rgba(0,0,0,0.3);
}
