#editor {
  font-size: 18px;
  width: 100% !important;
  flex-grow: 1 !important;
}

#preview {
  flex-grow: 1;
}

.Editor {
  height: 100vh;
  display: flex;
}

.Editor-panel {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.Editor-preview {
  width: 650px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.ace_folding-enabled > .ace_gutter-cell {
  color: rgba(0,0,0,0.3);
}
