#editor {
  font-size: 18px;
  width: 100% !important;
  flex-grow: 1 !important;
}

.ace_folding-enabled > .ace_gutter-cell {
  color: rgba(0,0,0,0.3);
}

.Editor {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}
