.EditorPage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #333;
}

.EditorPage-bar {
  flex-shrink: 0;
  background: #424242;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgba(0,0,0,0.6);

  .EditorPage-bar-item {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5em;

    i {
      font-size: 18px;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  .EditorPage-bar-side {
    margin-left: auto;
    height: 100%;
  }
}

.EditorPage-view {
  flex-grow: 1;
  display: flex;
}

.EditorPage-panel {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.EditorPage-preview {
  width: 0;
  opacity: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: white;

  &.show {
    transition: 250ms linear opacity;
    width: 650px;
    opacity: 1;
  }
}

#preview {
  flex-grow: 1;
}

.preview {
  color: white;
  font-size: 25px;
  padding: 0;
}

.select-theme {
  background-color: #424242;
}
