
.Frame {
  -webkit-app-region: drag;
  background-color: #202020;
  padding: 5px;

  .window {

    float: left;
    display: inline;
    background-color: transparent;

    .window-icon {
      margin-left: 9px;
      font-size: 0.8em;
    }

    .close {
      color: #e74c3c;
    }

    .minimize {
      color: #f39c12;
    }

    .maximize {
      color: #27ae60;
    }
  }

  .links {
    background-color: transparent;
    display: flex;
    align-items: stretch;
    float: right;

    &.right {
      margin-left: auto;
    }

    a {
      color: #fafafa;
      display: flex;
      align-items: center;
      padding: 0 1em;
      text-decoration: none;
      font-weight: bold;
      &.active {
        background: #f46d4c;
        color: white;
      }
    }
  }
}
