@import "./vars.scss";

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  user-select: none;
  -webkit-user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(black, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(black, 0.1);
}

body {
  font-family: Lato, sans-serif;
  color: $lighterGrey;
}

b {
  font-weight: bold;
}

h2 {
  cursor: default;
  font-weight: bold;
  padding-bottom: 10px;
  color: rgba(white, 0.7);
  border-bottom: 5px solid rgba(white, 0.02);
}

input[type=text] {
  background-color: rgba(black, 0.1);
  padding: 10px;
  min-width: 0;
}

::-webkit-input-placeholder {
  color: rgba(white, 0.2);
}

.round-label {
  font-weight: bold;
  background: $yellow;
  color: $grey;
  padding: 2px 8px;
  border-radius: 8px;
}

.a {
  text-decoration: underline;
  cursor: pointer;
}

.Resizer {
  position: relative;
  z-index: 4000;
  border-radius: 2px;
  &:hover {
    background: #34343f;
  }
  &:active {
    background: #42424f;
  }
}

.Resizer.vertical {
  width: 12px;
  margin: 0 -6px;
  border-left: 1px solid rgba(255, 255, 255, 0);
  border-right: 1px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.rotating {
  transform-origin: center center;
  animation: rotate linear infinite 2s;
}

@keyframes rotate {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

.version-box {
  background: rgba(white, 0.05);
  padding: 10px;
}
