
$template-height: 200px;

.templates {
  width: 100%;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  position: relative;
  display: flex;
  justify-content: center;
}

.template {
  border: 1px solid #f0f0f0;
  width: 150px;
  margin: 10px;
  height: $template-height;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */

  transition: box-shadow 0.2s ease-in-out;
  &:hover {
  
    box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
    transition: box-shadow 0.2s ease-in-out;
  }
}

.link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.template-icon {
  font-size: 50px;
  color: #d4d4d4;
  height: $template-height;
  line-height: $template-height;
}

.file-selector {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
