* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  cursor: inherit;
  outline: none;
  border: none;
}

body {
  font-size: 16px;
  line-height: 24px;
  -webkit-user-select: none;
  cursor: default;

  font-family: 'Open Sans', sans-serif;
}

a, button {
  cursor: pointer;
}

img {
  display: block;
}

.App {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  .App-content {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #3b3b3b;
  }
}

.z {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotating {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
@keyframes rotating-reverse {
  from { transform: rotate(360deg); }
  to   { transform: rotate(0deg); }
}
