* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  cursor: inherit;
  outline: none;
  border: none;
}

body {
  position: relative;
  height: 100vh;
  overflow-y: hidden;

  font-size: 16px;
  line-height: 24px;
  -webkit-user-select: none;
  cursor: default;

  font-family: monospace;
  color: #aaa;
}
