.NavBar {
  background-color: #202020;
  flex-shrink: 0;
  display: flex;
  height: 40px;
  align-items: stretch;
}

.NavBar-links {
  display: flex;
  align-items: stretch;

  &.right {
    margin-left: auto;
  }

  a {
    color: #fafafa;
    display: flex;
    align-items: center;
    padding: 0 1em;
    text-decoration: none;
    font-weight: bold;
    &.active {
      background: #f46d4c;
      color: white;
    }
  }
}
