
.SideBar {

  .SideBar-section {
    color: #c6c6c6;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
  }

  .action {
    width: 100px;
  }
}
