$blue: #3470df;
$red: #c0392b;
$orange: #f06451;

$bg: #2a2a35;
$bg-darker: #25252f;
$bg-even-darker: #21212a;
$bg-light: #32323b;

$green: #2ecc71;
$green-d1: #2ab766;
$green-d2: #24a059;
$grey: #3b3b3b;
$lighterGrey: #888;
$evenLighterGrey: #aaa;
$almostWhite: #bbb;
$dark-grey: #2a2a2a;
$yellow: #dcab5c;
