$blue: #3470df;
$red: #c0392b;

$bg: #2a2a35;
$bg-darker: #25252f;

$green: #2ecc71;
$green-d1: #2AB766;
$green-d2: #24A059;
$grey: #3b3b3b;
$lighterGrey: #888;
$evenLighterGrey: #aaa;
$almostWhite: #bbb;
$dark-grey: #2a2a2a;
$yellow: #dcab5c;
