@import '../../styles/vars.scss';

.NewProjectModal {
  min-height: 0;
}

.TemplateChooserTabs--tab {
  border: 1px solid rgba(white, 0.1);
  text-align: center;
  padding: 10px;
  font-weight: bold;
  &.isActive {
    background: $blue;
    color: white;
  }
  & + & {
    border-left: none;
  }
  &:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  &:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.Gallery {
  display: flex;
  flex-wrap: wrap;
}

.Gallery-Item-wrapper {
  padding: 3px;
  border: 2px solid transparent;
  margin-bottom: 5px;
  margin-right: 5px;
  outline: none !important;
  opacity: 0.5;
  transition: 150ms opacity;
  &:focus, &.isSelected {
    border-color: $blue;
  }
  &.isSelected {
    opacity: 1;
  }
}

.Gallery-Item {
  background: rgba(black, 0.2);
  width: 168px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.Gallery-item-label {
  position: absolute;
  bottom: 0; left: 0;
  background: $blue;
  color: white;
  padding: 5px;
}
