{
  "presets": [
    ["env", { "targets": { "node": 6 }, "useBuiltIns": true }],
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": [
          "app"
        ]
      }
    ],
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["babel-plugin-dev-expression"]
    },
    "development": {
      "plugins": [],
      "presets": ["react-hmre"]
    },
    "test": {
      "plugins": [
        ["webpack-loaders", { "config": "webpack.config.test.js", "verbose": false }]
      ]
    }
  }
}
