{
  "presets": [
    [
      "@babel/preset-react",
      {
        "loose": true,
        "modules": "commonjs",
        "targets": {
          "electron": "7.0",
          "node": "current"
        }
      }
    ],
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["src"]
    }]
  ]
}
