{
  "presets": [
    [
      "@babel/preset-react",
      {
        "loose": true,
        "modules": "commonjs",
        "targets": {
          "electron": "7.0",
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {
      "legacy": true,
    }],
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    "@babel/plugin-proposal-export-default-from",
    ["module-resolver", {
      "root": ["src"]
    }]
  ]
}
