{
  "extends": [
    "zavatta",
    "zavatta-react",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "Promise": false,
    "dataLayer": false,
    "__MJML_APP_VERSION__": false,
    "__MJML_VERSION__": false,
  },
  "rules": {
    "no-undefined": 0,
    "no-unused-expressions": 0,
    "no-case-declarations": 0,
    "id-length": 0,
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
  },
}
