@import '../../styles/vars.scss';

.FileExplorer {
  overflow: auto;
  padding: 2px;
  padding: 40px;
}

.FileTree-item-label {
  &:hover,
  &:active,
  &:focus,
  &.isActive {
    color: white;
  }
}
