@import '../app/styles/vars.scss';
@import '../app/styles/global.scss';
@import '../app/styles/utils.scss';
@import '../app/components/Button/style.scss';

body {
  padding: 40px;
  padding-bottom: 200px;
}

.video-container {
  background: $bg;
}

.shadow {
  box-shadow: rgba(black, 0.6) 0 5px 45px;
}
