@import '../app/styles/vars.scss';
@import '../app/styles/global.scss';
@import '../app/styles/utils.scss';
@import '../app/components/Button/style.scss';

body {
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5;
  color: #7b7b82;
  overflow-x: hidden;
}

h2 {
  color: #7b7b82;
  font-size: 30px;
  font-weight: 200;
}

h3 {
  font-size: 25px;
  margin: 20px 0;
}

img {
  display: block;
}

a.image-link {
  img {
    opacity: 0.5;
  }
  &:hover {
    img {
      opacity: 1;
    }
  }
}

h1 {
  font-size: 30px;
  line-height: 40px;
  color: #222;
  margin-bottom: 30px;
}

#word {
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.video-container {
  background: $bg;
}

.shadow {
  box-shadow: rgba(black, 0.3) 0 5px 25px;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  @media (max-width: 600px) {
    flex-direction: column;
    .hero-img {
      position: static;
    }
    .col + .col {
      margin-left: initial;
      margin-top: 50px;
      img {
        max-width: 100% !important;
      }
    }
  }
}

.col + .col {
  margin-left: 50px;
}

.col.c-1-3 {
  flex-basis: 33%;
}
.col.c-2-3 {
  flex-basis: 66%;
}

.col img {
  max-width: 100%;
}

.hero-img {
  position: absolute;
  top: 0;
  left: -10px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  img {
    margin: 0 5px 5px 0;
    max-width: initial !important;
  }
}

.contributors {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  a img {
    border-radius: 50%;
    margin: 10px;
    transition: transform .2s ease-in-out;

    &:hover {
      transform: scale(1.3);
    }

    &.small {
      width: 30px;
      height: 30px;
    }

    &.big {
      width: 40px;
      height: 40px;
    }
  }
}

.btn-slack {
  font-weight: bold;
  padding: 13px 25px;
  color: rgb(246, 112, 74);
  border: 2px solid rgb(246, 112, 74);
  background: transparent;
  &:hover {
    background: rgb(246, 112, 74);
    color: white;
    box-shadow: none;
  }
}

.footer {
  background: #eeeeee;
  margin-top: 100px;
  height: 200px;
}

.heading {
  color: #e7585c;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9em;
}
