@import '../../styles/vars.scss';

.NotifBubble {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $red;
  position: absolute;
  top: -5px;
  right: -5px;
  animation: bubb 3s infinite;
}

@keyframes bubb {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
