@import "~codemirror/lib/codemirror.css";
@import "~codemirror/addon/hint/show-hint.css";
@import "../../styles/one-dark.scss";
@import "../../styles/vars.scss";

.FileEditor {
  flex-grow: 1;
  position: relative;
  .CodeMirror {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%;
    .CodeMirror-scroll {
      font-family: monospace;
      font-size: 14px;
    }
  }
  .cm-s-one-dark .CodeMirror-matchingbracket, .cm-s-one-dark .CodeMirror-matchingtag {
    color: #ef8a92 !important;
    border-bottom-color: rgba($blue, 0.8) !important;
  }
}

.CodeMirror-hints {
  border: none;
  background: $bg;
}

.CodeMirror-hint {
  color: $almostWhite;
  padding: 5px;
}

li.CodeMirror-hint-active {
  background-color: rgba($blue, 0.1) !important;
  color: $blue;
}

.FileEditor--loader {
  background: $bg;
}
