@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDelayed {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.anim-fadeInUp {
  animation: 0.5s fadeInUp;
}

.anim-fadeInDelayed {
  animation: 1s fadeInDelayed;
}

@keyframes fadeInDown {
  0% { opacity: 0; transform: translateY(-100px); }
  100% { opacity: 1; transform: translateY(0); }
}
