@import './vars.scss';

.Button {
  font-size: 0.8rem;
  cursor: pointer;
  display: inline-flex;
  padding: 1em 4em;
  border: 1px solid transparent;

  i + span {
    margin-left: 0.5em;
  }

  &.primary {
    background: $blue;
    color: white;
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    text-transform: uppercase;

    &:hover {
      background: #2F62C1;
      &:active {
        background: #2653A5;
      }
    }
  }

  &.success {
    background: $green;

    &:hover {
      background: $green-d1;
      &:active {
        background: $green-d2;
      }
    }
  }

  &.danger {
    background: $red;
  }
}
