
.coming-soon {

  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  span {
    color: #292929;
    font-family: Helvetica Neue;
    font-weight: bolder;
    font-size: 32px;
    height: 100%;
    line-height: 100%;
  }
}
