@import './vars.scss';

.EditorPage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #333;
}

.EditorPage-bar-item {
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em;

  i {
    font-size: 18px;
  }

  &.active, &.active:hover {
    background: $blue;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.2);

    &:active {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

.EditorPage-bar {
  flex-shrink: 0;
  background: #424242;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgba(0,0,0,0.6);

  .EditorPage-bar-side {
    display: flex;
    margin-left: auto;
    margin-right: 5px;
    height: 100%;
  }
}

.EditorPage-view {
  flex-grow: 1;
  display: flex;
}

.EditorPage-panel {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.EditorPage-preview {
  width: 0;
  opacity: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: white;
  position: relative;
  overflow: hidden;

  &.show {
    transition: 250ms linear opacity;
    opacity: 1;

    &.platform-mobile {
      width: 450px;
    }

    &.platform-desktop {
      width: 650px;
    }
  }
}

.bar-icon {
  color: white;
  font-size: 25px;
  padding: 0;
}

.platform-container {
  z-index: 999999;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 20px;
  width: inherit;

  i {
    margin: 0;
    color: white;
    padding: 5px 20px;
    background-color: #323232;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .desktop {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .mobile {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 18px;
  }

  .active {
    background-color: $blue;
  }
}

.platform-button {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

.select-theme {
  background-color: #e1e1e1;
  color: $dark-grey;
  margin: 20px 0;
}
