#editor {
  font-size: 15px;
  width: 100% !important;
  flex-grow: 1 !important;
}

.ace_folding-enabled > .ace_gutter-cell {
  color: #e1e1e1;
}

.Editor {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}
