@import './vars.scss';

.HomeLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
  padding: 0 1em;
  img {
    margin-right: 0.5em;
  }
}

.Frame {
  -webkit-app-region: drag;
  background-color: #202020;
  display: flex;
  align-items: stretch;
  height: 40px;
  position: relative;

  .Frame-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    cursor: pointer;

    &.big {
      padding: 0 1em;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.05);
      .hoverdot {
        background: rgba(0, 0, 0, 0.0);
      }
    }
  }

  .Frame-center {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
  }

  .Frame-window {
    display: flex;
    padding: 0 5px;

    .window-icon {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }

    .hoverdot {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.3);
    }

    .close { background-color: $close; }
    .minimize { background-color: $minimize; }
    .maximize { background-color: $maximize; }
  }

  .Frame-actions {
    display: flex;
    align-items: stretch;
    margin-left: auto;

    a {
      color: #fafafa;
      text-decoration: none;
      font-weight: bold;
      &.active {
        background: #f46d4c;
        color: white;
      }
    }
  }
}
