.Hero {
  min-height: 100vh;
  padding-top: 100px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1000px) {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  .Hero-right {
    max-width: 70%;
  }

  .Hero-left {

    .others {
      padding-top: 10px;
      padding-left: 20px;

      ul li {
        list-style:none;

        a {
          color: grey;
        }
      }
    }

    p {
      max-width: 380px;
      margin: 40px 5px 50px;
      color: #7b7b82;
      line-height: 24px;

      &.other-platforms {
        font-size: 0.9em;
        font-size: 16px;
        color: #c3c3c3;

        .underlined {
          color: #f78e7b;
          text-decoration: none;
          cursor: pointer;
          padding-bottom: 2px;
        }
      }
    }

  }
}
