@import './BlankPlaceholder.scss';
@import './animations.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  cursor: inherit;
  outline: none;
  border: none;
  background: transparent;
}

body {
  font-size: 16px;
  line-height: 24px;
  cursor: default;

  font-family: 'Open Sans', sans-serif;
  background-color: #202020;
  -webkit-user-select: none;
}

a, button {
  cursor: pointer;
}

img {
  display: block;
}

.link {
  border-bottom: 1px solid;
}

.App {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .App-content {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #3b3b3b;
  }
}

.z {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotating {
  animation: 1s linear rotating infinite;
}

@keyframes rotating {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
@keyframes rotating-reverse {
  from { transform: rotate(360deg); }
  to   { transform: rotate(0deg); }
}

.anim-page {
  animation: 0.3s ease-out animPage;
}

.anim-sub-page {
  animation: 0.2s ease-out animSubPage;
}

@keyframes animPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animSubPage {
  from {
    opacity: 0;
    transform: translate3d(0, 5px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.form-group {
  & + .form-group {
    margin-top: 20px;
  }
}
