
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#phone {
  width: 310px;
  height: 640px;
  border: 2px solid #ccc;
  border-radius: 30px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;

  iframe {
    margin-top: 55px;
    border: 1px solid #f0f0f0;
    width: 94%;
    height: 80%;
  }
}

#screen {
  width: 290px;
  height: 520px;
  border: 1px solid #ccc;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -260px -145px;
  box-sizing: border-box;
  overflow: hidden;
}

#home {
  width: 36px;
  height: 36px;
  border: 1px solid #ccc;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin: 0 -18px;
  border-radius: 50%;
}

#speaker {
  width: 50px;
  height: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: 25px;
  margin: 0 -25px;
}

