@import './vars.scss';

.Modal-container {

  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;

  background: rgba(0, 0, 0, 0.35);
  animation: 150ms ease-in fadeIn;
}

.Modal {
  position: relative;
  background-color: $grey;
  color: rgba(255, 255, 255, 0.3);
  min-width: 400px;
  padding: 3rem 2rem;
  border: 1px solid $dark-grey;
  box-shadow: 0px 0px 113px -37px rgba(41,117,230,0.35);
  animation: 350ms ease-out fadeInUpDelayed;

  > i {
    cursor: pointer;
    position: absolute;
    padding: 5px;
    right: 8px;
    top: 8px;
    z-index: 1;
    color: #e1e1e1;
    display: flex;
    &:hover {
      color: white;
    }
  }

  input[type=text] {
    background: #e1e1e1;
    margin-top: 10px;
    cursor: text;
    padding: 1em;
    width: 100%;
    color: $dark-grey;
  }

  ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.25);
  }

  h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: right;
    color: #e1e1e1;
  }

}

.ModalConfirmFooter {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
  text-align: right;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInUpDelayed {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  50% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
