@import './vars.scss';

.Modal-container {

  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;

  background: rgba(0, 0, 0, 0.2);
  animation: 150ms ease-in fadeIn;

}

.Modal {
  position: relative;
  background-color: #151515;
  color: rgba(255, 255, 255, 0.3);
  min-width: 400px;
  padding: 2rem;
  border: 1px solid $blue;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 20px;
  animation: 350ms ease-out fadeInUpDelayed;

  input {
    background: rgba(255, 255, 255, 0.1);
    padding: 1em;
    width: 100%;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInUpDelayed {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  50% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
