
@import './vars.scss';

.Overlay-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  z-index: 666;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0; bottom: 30px; left: 0; right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .Button {
    padding: 0;
    box-shadow: rgba(0,0,0,0.2) 0 2px 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;

    animation: 150ms ease-out anim-btn-overlay-delayed;

    &.big {
      animation-name: anim-btn-overlay;
      width: 50px;
      height: 50px;
      i {
        font-size: 18px;
      }
    }

    i {
      color: white;
      font-size: 13px;
    }
  }
}

@keyframes anim-btn-overlay {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes anim-btn-overlay-delayed {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(10px);
  }
  40% {
    opacity: 0;
    transform: scale(0.9) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
