
@import './vars.scss';

.overlay {
  z-index: 666;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    background-color: $blue;
    width: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;

    &.open {
      padding: 25px;
    }

    i {
      color: white;
      font-size: 13px;
    }
  }
}
