
.settings-container {
  padding: 30px 90px;
  width: 80vw;
}

li {
  list-style: none;
  margin: 5px;
}

h3 {
  font-size: 25px;
  color: #626262;
}

.settings-list {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.value {
  color: grey;
  border: 1px solid silver;
  margin-top: 5px;
  padding: 2px;
}

.setting {
  margin: 20px;
}
