@import './vars.scss';

.SideBar {

  width: 160px;
  margin-right: 10px;
  flex-shrink: 0;

  .Sidebar-divider {
    margin: 1em 0;
  }

  .DropDown {
    font-size: 8rem;
  }

  .SideBar-section {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    display: block;
    line-height: 3em;
    color: #c6c6c6;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    transition: 150ms ease-out all;

    &:before {
      content: ' ';
      position: absolute;
      top: 5px; left: -15px; bottom: 5px;
      width: 5px;
      background: $blue;
      transition: 150ms ease-out all;
      transition-delay: 200ms;
      transform: translate3d(10px, 0, 0);
      opacity: 0;
    }

    &:hover { color: white; }

    &.active {
      color: white;
      transform: translateX(10px);
      &:before {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }

    &.action {
      & + .action {
        margin-top: 0.5em;
      }
      > div {
        width: 100px;
        border-radius: 20px;
        display: inline-flex;
        align-items: center;
        color: #cececc;
        transition: color 0.2s ease-in-out;
        > i {
          font-size: 18px;
          margin-right: 10px;
        }
        &:hover {
          color: $blue;
          transition: color 0.2s ease-in-out;
        }
      }
    }
  }
}
