
.SideBar {

  width: 160px;
  flex-shrink: 0;

  .SideBar-section {
    line-height: 3em;
    color: #c6c6c6;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
  }
}
