@import './vars.scss';

.TileGrid {
  margin-left: 50px;
  position: relative;
  flex-grow: 1;

  .template {
    position: relative;
    width: 162px;
    height: 212px;
    margin: 0 1em 1em 0;
    border: 3px solid transparent;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      border-color: $blue;
    }

    .template-wrapper {
      position: absolute;
      top: 3px; left: 3px; right: 3px; bottom: 3px;
    }
  }

  .TileGrid-abs {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
  }

  .TileGrid-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
