.template {
  position: relative;
  width: 156px;
  height: 212px;
  margin: 0 1em 1em 0;

  .Tile-input {
    text-align: center;
    background-color: #e7e7e7;
    color: #424242;
    width: 100%;
    padding: 0 5px;
  }

  .template-info {
    color: #cecece;
    font-size: 13px;
    bottom: 4px;
    left: 10px; right: 10px;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    transition: 100ms ease-out background;

    &.editable {
      cursor: pointer;
    }

    &.hover {
      background: rgba(255, 255, 255, 0.1);
    }

    &.edit {
      background: #e7e7e7;
      color: #424242;
    }
  }

  .template-wrapper {
    position: absolute;
    top: 5px; left: 5px; right: 5px; bottom: 30px;
    transition: all 0.15s ease-in-out;
    border: 4px solid transparent;
    border-radius: 5px;

    &:hover {
      border-color: $blue;
      background-color: #323232;
      transition: all 0.15s ease-in-out;
    }
  }
}
