
.template {
  position: relative;
  width: 156px;
  height: 212px;
  margin: 0 1em 1em 0;

  .template-info {
    color: #cecece;
    font-size: 13px;
    bottom: 6px;
    left: 10px;
    right: 10px;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .template-wrapper {
    position: absolute;
    top: 5px; left: 5px; right: 5px; bottom: 30px;
    transition: all 0.15s ease-in-out;
    border: 4px solid transparent;
    border-radius: 5px;

    &:hover {
      border-color: $blue;
      background-color: #323232;
      transition: all 0.15s ease-in-out;
    }
  }
}
