@import '../../styles/vars.scss';

.Button {
  text-decoration: none;
  -webkit-user-select: none;
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid transparent;

  &:disabled {
    cursor: not-allowed;
  }

  &.primary {
    background: $blue;
    color: white;
    &:hover:not(:disabled), &:focus:not(:disabled) {
      background: lighten($blue, 2);
    }
    &:active:not(:disabled) {
      background: darken($blue, 5);
    }
    &:disabled {
      opacity: 0.4;
    }
  }

  &.ghost, &.transparent {
    color: $lighterGrey;
    &:hover, &:focus {
      background-color: rgba(white, 0.05);
      color: white;
    }
  }

  &.ghost {
    background-color: rgba(white, 0.03);
  }

  &.unclickable {
    pointer-events: none;
  }
}
