@import '../../styles/vars.scss';

.Button {
  white-space: pre;
  overflow: hidden;
  text-decoration: none;
  -webkit-user-select: none;
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid transparent;

  &.small {
    font-size: 11px;
    padding: 0 5px;
    height: 30px;
  }

  &.primary {
    background: $blue;
    font-weight: bold;
    color: white;
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background: lighten($blue, 2);
    }
    &:active:not(:disabled) {
      background: darken($blue, 5);
    }
    &:disabled {
      opacity: 0.4;
    }
  }

  &:focus {
    z-index: 1;
  }

  &.ghost,
  &.transparent {
    color: $lighterGrey;
    &:hover,
    &:focus {
      background-color: #3a3a43;
      color: white;
    }
    &:active {
      background-color: darken(#3a3a43, 2);
    }
  }

  &.ghost {
    background-color: $bg-light;
  }

  &.unclickable {
    pointer-events: none;
  }
}

.ButtonDropdown--dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 2px;
  background: $bg-light;
  box-shadow: rgba(black, 0.2) 0 15px 100px;
  z-index: 1;
}

.ButtonDropdown--dropdown-item {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-align: left;
  user-select: none;
  cursor: default;
  &:hover {
    color: white;
    background: rgba(white, 0.05);
  }

  &.isActive {
    background: $blue;
    color: white;
  }

  & + & {
    border-top: 1px solid rgba(black, 0.3);
  }
}

.ButtonDropdown--dropdown-item-icon {
  flex-shrink: 0;
  margin-right: 20px;
}

.ButtonDropdown--dropdown-item-title {
  white-space: pre;
}
