@import '../../styles/vars.scss';

.ProjectsList {
  overflow: auto;
  margin: -10px;
  padding: 5px;
}

.ProjectItem {
  position: relative;
  text-align: left;
  float: left; // i mean, wtf?
  width: 270px;
  margin-right: 20px;
  margin-bottom: 30px;
  &:hover {
    .ProjectItem--delete-btn {
      opacity: 1;
    }
    .ProjectItem--edit-btn {
      display: block;
    }
  }
}

.ProjectItem--preview-container-wrapper {
  padding: 5px;
}

.ProjectItem--preview-container {
  display: block;
  overflow: hidden;
  position: relative;
  height: 280px;
  background-color: rgba(black, 0.15)
}

.ProjectItem--label {
  font-size: 13px;
  margin: 5px 0;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ProjectItem--delete-btn {
  pointer-events: auto;
  position: absolute;
  right: -3px;
  top: -3px;
  background: #ca2d2d;
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: 200ms ease-in-out all;
  opacity: 0;
  &:hover {
    background: lighten(#ca2d2d, 10);
  }
  &:active {
    transform: scale(0.8);
  }
}

.ProjectItem--edit-btn {
  display: none;
  &:hover {
    color: white;
  }
}
