.ProjectsList {
  overflow: auto;
}

.ProjectItem {
  cursor: pointer;
  float: left; // i mean, wtf?
  width: 300px;
  margin-right: 20px;
  margin-bottom: 40px;
  overflow: hidden;
  &:hover {
    .ProjectItem--label {
      color: white;
    }
  }
}

.ProjectItem--preview-container {
  position: relative;
  height: 350px;
  background-color: rgba(black, 0.15)
}

.ProjectItem--label {
  font-size: 13px;
  margin-top: 5px;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
