@import '../../styles/vars.scss';

.ProjectsList {
  overflow: auto;
  &.isEditing {
    .ProjectItem--preview-container {
      transform: scale(0.88);
    }
    .ProjectItem {
      cursor: default;
      &:hover {
        .ProjectItem--label {
          color: $lighterGrey;
        }
      }
    }
  }
}

.ProjectItem {
  position: relative;
  float: left; // i mean, wtf?
  width: 260px;
  margin-right: 20px;
  margin-bottom: 40px;
  &:hover {
    .ProjectItem--label {
      color: white;
    }
  }
}

.ProjectItem--preview-container {
  transition: 150ms ease-in-out transform;
  overflow: hidden;
  position: relative;
  height: 280px;
  background-color: rgba(black, 0.15)
}

.ProjectItem--label {
  font-size: 13px;
  margin-top: 5px;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ProjectItem--delete-btn {
  position: absolute;
  right: 0;
  top: 0;
  background: #ca2d2d;
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transform-origin: center center;
  animation: deleteBounce 200ms ease-in-out;
  &:hover {
    transition: 100ms ease-in-out transform;
    background: lighten(#ca2d2d, 10);
  }
  &:active {
    transform: scale(0.9);
  }
}

@keyframes deleteBounce {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
