@import '../../styles/vars.scss';

.FileExplorer {
  overflow: auto;
  padding: 2px;
  background: rgba(black, 0.1);
}

.FileTree-item-label {
  &:hover,
  &:active,
  &:focus,
  &.isActive {
    color: white;
  }
}
