@import "../../styles/vars.scss";

.FileExplorer {
  overflow: auto;
  padding: 2px;
  background: rgba(black, 0.1);
}

.FileTree-item-label {
  outline: none !important;
  &:hover, &:active {
    color: white;
  }
  &.isActive {
    background: rgba(white, 0.1);
    color: white;
  }
}
