@import '../../styles/vars.scss';

.SnippetsList {
  border-left: 1px solid $almostWhite;
  min-width: 50%;
  margin-left: 20px;
  padding: 0 20px;
  min-height: 350px;
}

.SnippetItem {
  margin: 10px 0;
  padding: 20px 10px;
  border: 1px solid $almostWhite;
  display: flex;
  justify-content: space-between;
}

.SnippetItem--item-actions {
  display :flex;
  .action {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .action-remove {
    &:hover {
      color: $red;
    }
  }
}