@import '../../styles/vars.scss';

.SnippetsList {
  border-left: 1px solid $almostWhite;
  width: 50%;
  margin-left: 20px;
  padding: 0 20px 40px 20px;
  height: 600px;
  overflow-y: auto;
  scrollbar {
    display: none;
  }
}

.SnippetItem {
  margin: 10px 0;
  padding: 20px 10px;
  border: 1px solid $almostWhite;
  justify-content: space-between;
  display: block;
}

.SnippetItem--title {
  display: flex;
  justify-content: space-between;
}

.SnippetItem--item-actions {
  display :flex;
  .action {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      opacity: 1;
    }
  }
  .action-remove {
    &:hover {
      color: $red;
    }
  }
}