@import "../../styles/vars.scss";

.FilesList--list {
  flex: 1;
}

.FilesList--file {
  height: 40px;
  padding: 0 10px 0 15px;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 13px;

  &.active {
    color: $blue;
    background-color: rgba($blue, 0.1) !important;
    box-shadow: inset $blue 2px 0;
    .FilesList--file-actions {
      display: block;
    }
  }

  &:hover:not(.active) {
    background-color: rgba(black, 0.08);
  }

}

.FilesList--file-actions {
  display: none;
}

.FilesList--ariane {
  display: flex;
}

.FilesList--preview-container {
  background: rgba(black, 0.1);
  border-radius: 3px;
  overflow: hidden;
}

.FilesList--preview {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  iframe {
    background: white;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

.FilesList--preview-overlay {
  z-index: 999;
}

.rel { position: relative; }

.FilesList--item-name-container {
  min-width: 0;
}

.FilesList--item-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
