@import '../../styles/vars.scss';

.Application {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  transition: 150ms linear background-color;
}

.DropFile {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 999999;
  background: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
  * {
    pointer-events: none;
  }
}

.DropFile--border {
  position: absolute;
  top: 20px; left: 20px; right: 20px; bottom: 20px;
  border: 2px dashed $lighterGrey;
}
