@import '../../styles/vars.scss';

.Application {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: $bg;

  display: flex;
  flex-direction: column;
}

.DropFile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
  * {
    pointer-events: none;
  }
}

.DropFile--border {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 50px solid rgba($lighterGrey, 0.2);
}
