@import '../../styles/vars.scss';

.Application {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  transition: 150ms linear background-color;
}
