@import '../../styles/vars.scss';

.Alerts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  left: 10px;
  z-index: 99999;
}

.Alerts--item {
  font-size: 14px;
  margin-top: 10px;
  border: 1px solid rgba(white, 0.2);
  box-shadow: rgba(black, 0.2) 0 4px 8px;
  padding: 20px;
  cursor: default;
  border-radius: 3px;

  &.error {
    background: #672727;
    color: white;
  }

  &.success {
    background: $blue;
    border: 1px solid rgba(black, 0.2);
    color: white;
  }
}
